/* =============
    Typography
============= */

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #3974B9;
}

h4 {
    font-family: 'Montserrat', sans-serif
    align: center;
}

body {
    font-family: 'Montserrat', sans-serif;  
}



