/* =============
    Typography
============= */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3974B9;

}

h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3974B9;
    font-size: 12pt;
    line-height: 20px;
    font-weight: 400;
}
