//section 2//

#section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";

    >#container-2

        >#img {
        display: grid;
        grid-area: right;
        background-image: url("img/windowcat.jpg");
        
  }
        >#mission {
        display: grid;
        grid-area: left;
    }
}