//section 1//

#section-1 {
  margin-top: 100px;

  #container-1{
    background-image: url("../img/dogsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;

  }
}