/* =============
    Header
============= */
header {
    background-color: #3974B9;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "nav book";
    z-index: 1000;
    top: 0;


    .button-container {
        margin: 20px;
        margin-top: 40px;
        margin-left: 300px;
    }

    .button {
        background-color: #BAE2FB;
        border: none;
        border-radius: 100px;
        color: black;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        box-shadow: 5px 5px 10px #46494f;
    }

    .button:hover {
        background: #9ABFD6
    }

    >#nav-container {
        grid-area: nav;

        >ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr;
            grid-template-areas: "logo services team contact";
            list-style: none;
            
            
            a{
                color: white;
                text-decoration: none;
            }

            #vetlogo {
                grid-area: logo;

                >img {
                    width: 100px;
                }
            }

            #services {
                grid-area: services;
                margin-top: 40px;



            }

            #team {
                grid-area: team;
                color: white;
                margin-top: 40px;

            }

            #contact {
                grid-area: contact;
                color: white;
                margin-top: 40px;


            }
        }
    }
}
